@import url('https://fonts.googleapis.com/css?family=Orbitron|Play|Saira+Condensed|Stint+Ultra+Condensed|Yanone+Kaffeesatz:700|ZCOOL+QingKe+HuangYou&display=swap');

.clock {
    width: 370.52px;
    height: 105px;
    margin: auto;
    background-color: #297aa7;
    border-radius: 5px;
}

.clock__display {
    float: left;
    padding: 18px;
}

.clock__amount {
    display: inline;
    display: block;
    font-size: 32px;
    font-family: 'Orbitron',
        sans-serif;

}



.clock__unit {
    display: block;
    font-family: 'Yanone Kaffeesatz',
        sans-serif;
    font-size: 18px;
}