.isCentered {
    text-align: justify;
    text-align-last: center;
}

.blackText {
    font-family: 'Raleway',
        sans-serif;
}

.pureCenter {
    text-align: center;
    text-align-last: center;
}

.leftAligned {
    text-align: justify;
    text-align-last: left;
}

.topMarginedTitle {
    padding-top: 60px;
}


.textareaRound {
    border-radius: 5px;
}

.aboutText,
.ralewayFonted {
    font-family: 'Raleway',
        sans-serif;
}

.choice {
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: 35px
}

.choice:hover {
    border: 2px solid #2ca8ff;
    box-sizing: border-box;
}

.choice:hover .choiceName {
    color: #636363
}

.choiceImg {}

.bolded {
    font-weight: bold;
    color: #888888;
}


.appliForm:focus {
    border-color: #2ca8ff;
}
.modal-content {
    height: 800px
}

@media only screen and (max-width: 500px) {
    .choiceName {
        font-size: 0.75em;
    }

    .choice {
        padding: 10px
    }


}


.footerContent {
    text-align: center;
    text-decoration: none;
}

.authorContent {
    text-align: center;
    display: block;
    font-size: 0.8em;
    padding-top: 10px;
}

.noStyle {
    color: white;
}

.noStyle:hover {
    color: white;
    text-decoration: none;
}